
     body{
         width:75%;
         max-width: 760px;
         min-height: 320px;
         font-size: 100%;
         font-family: 'Libre Baskerville', Georgia, Times, 'Time New Roman',  serif;
         margin:auto;
         
         color: #333;
         line-height: 1.8em;
         background: #DAE2F8; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         }
         

section {padding: 2em 0 2em 0}

/*typography */



        h1,h2,h3

        {
         font-weight: normal;
        color: #1aff8c;
         }
     
     h1{font-size: 3.375em;}
     h2{font-size: 2.25em;}
     h3{font-size: 1.5em;}
      
    
.intro 

{font-size: 1.25em;}
{line-height: 1.9em;}
{padding: 2em 0 2em 0}


/*typography -----------------------------LINKS-------------------------*/



a {
 color:#c06;
text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}

a:hover
    {
        color:firebrick
        
        
        
        
    }